#bag{
    width:200px;
    height:500px;
    margin: 0 auto;
    background: url('./img/baf.png') center no-repeat;
    background-size: 80%;
}

#bag-health{
    width:200px;
    border:2px solid black;
    margin:0 auto 20px auto;
}
#bag-health div{
    height: 20px;
    background: crimson;
}
#controls{
    display: grid;
    width: 100%;
    height: 40vh;
    place-items: center;
}
#bag.burst{
    background: url('./img/bag-burst.png') center no-repeat;
    background-size: 80%;
}
.score{
    display: inline-block;
    margin-left: 50%;
    
}